<?xml version="1.0" encoding="UTF-8"?>
<rss version="2.0" xmlns:atom="http://www.w3.org/2005/Atom">
    <channel>
        <title>{settings.rssFeedTitle -> f:format.htmlentitiesDecode()}</title>
        <description>{settings.rssFeedDescription -> f:format.htmlentitiesDecode()}</description>
        <link>{feedLink}</link>
        <atom:link href="{feedLink}" rel="self" type="application/rss+xml" />
        <language>de</language>
        <lastBuildDate><f:format.date format="r" /></lastBuildDate>

        <f:for each="{news}" as="newsArticle">
            <item>
                <title><![CDATA[{newsArticle.title}]]></title>
                <description><![CDATA[<f:if condition="{newsArticle.teaser}">{newsArticle.teaser}<f:else>{newsArticle.bodyText -> f:format.stripTags()}</f:else></f:if>]]></description>
                <link>
                    <f:uri.action action="show" arguments="{newsArticle: newsArticle}" absolute="1" />
                </link>
                <guid isPermaLink="true">
                    <f:uri.action action="show" arguments="{newsArticle: newsArticle}" absolute="1" />
                </guid>
                <f:if condition="{newsArticle.publishDate}">
                    <pubDate><f:format.date date="{newsArticle.publishDate}" format="r" /></pubDate>
                </f:if>
                <f:for each="{newsArticle.categories}" as="category">
                    <category>{category.title}</category>
                </f:for>
                <f:if condition="{newsArticle.author}">
                    <author>{newsArticle.author}</author>
                </f:if>
            </item>
        </f:for>
    </channel>
</rss>
