<f:layout name="Default" />

<f:section name="Title">Kategorien</f:section>

<f:section name="Content">
    <div class="news-categories">
        <h1 class="news-categories__headline">Kategorien</h1>

        <f:if condition="{categories}">
            <f:then>
                <div class="news-categories__list">
                    <f:for each="{categories}" as="category">
                        <section class="news-categories__category">
                            <header class="news-categories__category-header">
                                <h2 class="news-categories__category-title">
                                    <f:link.action action="list" arguments="{category: category}">{category.title}</f:link.action>
                                </h2>
                                <f:if condition="{category.description}">
                                    <p class="news-categories__category-description">{category.description}</p>
                                </f:if>
                            </header>

                            <f:variable name="categoryArticles" value="{grouped.{category.title}}" />
                            <f:if condition="{categoryArticles}">
                                <ul class="news-categories__articles">
                                    <f:for each="{categoryArticles}" as="newsArticle">
                                        <li class="news-categories__article">
                                            <f:link.action action="show" arguments="{newsArticle: newsArticle}">
                                                {newsArticle.title}
                                            </f:link.action>
                                            <f:if condition="{newsArticle.publishDate}">
                                                <time datetime="{newsArticle.publishDate -> f:format.date(format: 'Y-m-d')}">
                                                    (<f:format.date date="{newsArticle.publishDate}" format="d. F Y" />)
                                                </time>
                                            </f:if>
                                        </li>
                                    </f:for>
                                </ul>
                            </f:if>
                        </section>
                    </f:for>
                </div>
            </f:then>
            <f:else>
                <p class="news-categories__empty">No categories found.</p>
            </f:else>
        </f:if>
    </div>
</f:section>
